$font-family-main: Source Sans Pro, Arial, Helvetica;
$focus-outline: #EC6625;
$list-items: #333;
$standard-links: #2579A4;
$headings: #555;
$backgrounds: #FFF;
$box-shadow: #00000029;
$header-border-mobile: #D4D4D4;
$page-content-seperators: #707070;
$jumbotron-bg: #F9F7F6;
$footer-text: #FFF;
$footer-top-bg: #404040;
$footer-bottom-bg: #2A2A2A;