{% load i18n %}{% autoescape off %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'custom_email_css.htm' %}
</head>

<body>
    <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff">
        <tbody>
            <tr>
                <td>
                    {% include 'custom_email_header.htm' %}
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" width="600" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p>Dear {{user.first_name}},</p>
                                                    <p>{% blocktrans %}You are receiving this email because you requested a password reset for your user account at {{ app_title }}.{% endblocktrans %}</p>
                                                    <p>{% trans "Please go to the following page and choose a new password:" %}
                                                        <p><a class="btn" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
                                                        </p>
                                                    <p>If you experience any problems then please email <a href="mailto:{{email_settings.contact_email}}">{{email_settings.contact_email}}</a></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" width="600" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p>Contact details for the Greater London Archaeological Advisory Service (GLAAS) Team can be found on the <a href="{{contact_website}}" target="_blank">Greater London Archaeological Advisory Service (GLASS) contact page</a>.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
{% endautoescape %}
